$lobster: bisque;
$border: red;

body{
	background-color: $lobster;
}

h1{
	text-align: center;
}

.main-container {
<<<<<<< HEAD
}


.search-bar-spacing{
	margin-bottom: 20px;
}
=======
  border: 2px dashed $border;
}
>>>>>>> 5d90d73970387c5528226dfeae2ff1dc61ee01af
