<h2>Task Details</h2>
<div class="col-xs-12">

	<h3>{{item.task}}</h3>

	<ul class="list-group">
	    <li class="list-group-item"><strong>Assigned To: </strong>{{item.assignedTo}}</li>
	    <li class="list-group-item"><strong>Due Date: </strong>{{item.dueDate}}</li>
	    <li class="list-group-item"><strong>Dependencies: </strong>{{item.dependencies}}</li>
	    <li class="list-group-item"><strong>Location: </strong>{{item.location}}</li>
	    <li class="list-group-item"><strong>Urgency: </strong>{{item.urgency}}</li>
	    <li class="list-group-item"><strong>Completed: </strong>{{item.isCompleted ? "yes" : "no"}}</li>
	</ul>

	<button class="btn btn-info"><a ng-href="#!/item/{{item.id}}/edit">Edit</a></button>
</div>